1. Be nice!

2. No NSFW posts, derogatory terms, or spam.

3. Do not DM members without a reason and prior consent. 

4. No shady links. If your code is longer than a few lines, consider using something like http://sqlfiddle.com/ or https://pastebin.com/.

5. Unless relevant, no links to other servers, websites or services. No self-promotion.       
   
6. When you have a problem, do not explain everything. Explain your goal, your problem, and post your script using syntax highlighting. https://support.discord.com/hc/en-us/articles/210298617-Markdown-Text-101-Chat-Formatting-Bold-Italic-Underline-

7. Ask questions in a free help channel. If none are free, ask the mods to create another help channel or wait until an issue is resolved so you can ask. Don't drown out unanswered questions with your own.

8. We are here to help. We are not here to do your homework for you. Do it yourself, you need to learn!

9. Do not ping members without a reason. Wait your turn like the rest of us. Pings are rude.

10. If illegal, don't ask for help with it.

11. Try to keep it professional here. Although we are not explicitly banning cursing, it would be better if the channels are clean. Abbreviations are fine.

12. Do not DM mods or admins for help. You are a not special case.

13. Do not multi-post or ask for help in multiple channels.

14. Don't ask to ask, just ask your question https://dontasktoask.com/.

15. No monetary transactions for services.
