1. No Spam.

2. No NSFW posts.

3. No Derogatory Terms.

4. No shady links to .jar files, or especially .exe files. If code you need help with can't fit in under 2000 words, specify your problem, no one wants to open a text file and look through it. Large files are generally not appreciated.

5. Unless relevant, no links to other servers, websites or services. No self-promotion.       
   
6. If illegal, don't ask for help with it

7. Be nice!

8. If you want us to do your homework, you need to mail it to the North Pole first and give Santa's elves a chance to finish it. If it is sent back in hard copy, with a stamp from Somalian port customs where it naturally enters first before it can go to Discord, then when a mod or admin has a chance to review it, they will not do your homework. Do it yourself, you need to learn!

9. No DMs for help

10. No pinging here or everyone, just because you have a problem doesn't mean everyone suddenly has to help you, wait your turn like the rest of us. Pings are rude.

11. Help questions need to be posted in a free help channel, if none are free you can either send your question into a channel that corresponds to the nature of your question, ask the mods to create another help channel, or wait until you or someone else clears up a help channel so you can ask. Don't drown out unanswered questions with your own.

12. Try to keep it kid friendly here, although we are not explicitly banning cursing, it would be better if the channels are clean, abbreviations are fine.

13. The mods and admins will not help you if you dm them, you are a not special case, we get tons of dms daily from people who want us to teach them stuff, in fact this isn't even the only server we moderate on.

14. Do not multi-post or ask for help in multiple channels

15. Don't ask to ask, just ask your question

16. No monetary transactions for services
